@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    font-family: 'Open Sans', serif;
    background-image: url(background.jpg);
    
}
h1{
    font-size: 20px;
}
p { 
    text-align: justify;
    font-size: 20px;    
}

ul{
    font-size: 20px;
}

h2{
    font-size: 30px;
}
.image_att{
    opacity: 1.0;
    overflow:hidden;
    float: right;
    margin-right: 90px;
    border-radius: 20%;
    border-style: groove;
    border: black;
    border-width: medium; 
}
.margin {
    margin: 40px 30px 30px 150px;
}
.title_margin {
    margin: 70px 30px 30px 200px;
}
.about_box{
    width: 800px;
    height: 380px;
    padding:  10px 10px 10px 10px; 
    margin-left: 25px;
    
}

.container{
        padding: 1em;
        border: black;
        border-style: groove;
    }
.content_container{
        
        background-color: rgba(211,211,211, 0.9);;
        padding: 5px 5px 5px 5px;
        border: black;
        border-radius: 20%;
        border-style: groove;
        margin: 80px 40px 80px 40px;
    
}
.columm{
    position: fixed;
    background-color: darkgray;
    left: 0;
    right: 0;
    top: 0;    
}

.header{
    background-color: lightgray;
    position: fixed;
    top: 0;
    left: 0;
}
.footer{
        background-color: lightgray;
        left:0px;
        right: 0px;
        bottom:0px;
    }
.contact{ color: black;
}